body {
    font-family: "Jost", sans-serif;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
ul,
p {
    padding: 0px;
    margin: 0px;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 1120px;
    margin: 0px auto;
}
span{
    color:#6278B4;

}
.header {
    padding-top: 32px;
    padding-bottom: 27px;
    background-color: #DDF9FF;
    display: flex;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.header-link {
    color: #3A2E2E;
    font-size: 24px;
    font-weight: 700;
}

.hero {
    background-color: #DDF9FF;
    padding-bottom: 48px;
}

.hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
}
.hero-subtitle {
    color: #6278B4;
    font-weight: 600;
    font-size: 24px;
}

.hero-title {
    color: #3A2E2E;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;
    padding-top: 16px;

}

.hero-text {
    color: #3A2E2E;
    font-weight: 500;
    font-size: 20px;
    padding-bottom:32px ;
}

.hero-button {
    background-color: #6278B4;
    font-size: 20px;
    font-weight: 900;
    padding:16px 21px 15px 22px ;
    border-radius: 30px;
    color:white;
    border: none;
    line-height: 1.53;
    box-shadow: 0px 4px 10px 0px #00000040 ;
}
.services{
    padding-top:24px ;
    padding-bottom: 52px;
}
.services-title{
    text-align: center;
    border-bottom:4px solid #6278B4 ;
    width: 351px;
    margin: auto;
    padding-bottom:18px ;
    font-size: 48px;
    font-weight: 600;
}
.services-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 57px;
    padding-top:47px ;
}
.services-name{
    padding-bottom:25px ;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.53;
}
.services-name span{
    font-weight: 500;
}
.services-item{
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.services-img{
    width: 49px;
    height: 49px;
}
.services-text{
    line-height: 1.53;
    font-size: 14px;
    
}
.about{
    padding: 32px 0px;
    background-color:#DDF9FF;

}
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 130px;
    align-items: center;
}
.about-title{
    color:#6278B4;
    font-size: 48px;
    padding-bottom: 28px;
    font-weight: 900;
    line-height: 1.53;
}
.about-text{
    font-size: 20px;
    color: #3A2E2E;
    font-weight: 500;
    
}
.about-wrap{
    width: 358px;

}
.specialist{
    padding: 32px 0px 64px 0px ;
}
.specialist-title{
    font-size: 48px;
    color:#3A2E2E ;
    text-align: center;
    font-weight:600 ;
    border-bottom:4px solid #6278B4 ;
    width: 351px;
    padding-top: 18px;
    margin:0px auto 40px;
}
.specialist-list{
    display: flex;
    flex-direction: row;
    gap:32px;
    justify-content: space-between;
}
.specialist-name{
    font-size: 32px;
    color: #3A2E2E;
    border-top:4px solid #3A2E2E;
    padding-top: 32px;
    margin:32px auto 0px ;
    text-align: center;
    width: 224px;
    font-weight: 600;
}
.footer{
    padding: 41px 0px 73px 0px ;
    background-color: #535353;
}
.footer-title{
    border-top:2px solid #6278B4 ;
    padding-top: 28px;
    margin-top: 32px ;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 32px;
}
.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-link{
    display: flex;
    align-items: center;
    gap: 22px;
    color: white;
    font-size: 20px;
}
